<section id="financiero">
    <div class="jumbotron text-center">
            <h1>Bienvenido FINANCIERO</h1>
        
            <div class="dropdown">
                <button type="button"class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Opciones
                </button> 
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" routerLink ="/user/gestionarFinanciero">Gestionar Turno</a>
                    <a class="dropdown-item" href="#">Cambiar contraseña</a>
                  </div>
                
                </div>
          </div>