<app-navbar></app-navbar>
<section id="financiero">
  <div class="jumbotron text-center">
    <h1>Bienvenido FINANCIERO</h1>
    <li>Administrar financieramente los recursos buscando la sostenibilidad económica de la institución en el corto plazo</li>
    <li>Atender y relacionarse con las diferentes instituciones financieras en lo pertinente al manejo de los recursos. </li>
    <li> Analizar y hacer las recomendaciones sobre los diferentes informes financieros que realizan las dependencias adscritas a la direccióniones.</li>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-primary" routerLink="/user/gestionarFinanciero">
        Gestionar Turno
      </button>
    </div>

  </div>
