<app-navbar></app-navbar>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
</head>
<section id="financiero" class="ex1">
  <div class="jumbotron text-center">
    <h1>Bienvenido Financiero</h1>
    <li>Administrar financieramente los recursos buscando la sostenibilidad económica de la institución en el corto plazo</li>
    <li>Atender y relacionarse con las diferentes instituciones financieras en lo pertinente al manejo de los recursos. </li>
    <li> Analizar y hacer las recomendaciones sobre los diferentes informes financieros que realizan las dependencias adscritas a la direcciones.</li>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-primary" routerLink="/user/gestionarFinanciero"><span class="oi oi-clipboard"></span>
        Gestionar Turno
      </button>
    </div>

  </div>
