<app-navbar></app-navbar>
<section id="academico">
  <div class="jumbotron text-center">
    <h1>Bienvenido ACADEMICO</h1>
    <li>Conceptuar en relación con Reglamento Académico y
      los de Personal Docente y Estudiantil.</li>
    <li>Conceptuar sobre la concesión
      de comisiones al exterior y comisiones de estudio.</li>
    <li> sobre el plan
      de capacitación que presente el Rector.</li>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-primary" routerLink="/user/gestionarAcademico">
        Gestionar Turno
      </button>
    </div>
  </div>
