<app-navbar></app-navbar>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
</head>
<section id="turnosRestaurante" class="ex1">
  <br>
  <div class="text-center">
    <h1>Listado de Pedidos</h1>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <td class="text-center">Turno</td>
        <td class="text-center">Nombre</td>
        <td class="text-center">Email</td>
        <td class="text-center">Pedido</td>
        <td class="text-center">Atendido</td>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let turno of turnos">
          <th align="center" class="align-middle">{{turno.data.Turno}}</th>
          <th align="center" class="align-middle">{{turno.data.Nombre}}</th>
          <th align="center" class="align-middle">{{turno.data.Email}}</th>
          <th align="center" class="align-middle">{{turno.data.Pedido}}</th>
          <button (click)="turnosRestaurante()">Atendido</button>
        </tr>
      </tbody>
    </table>
  </div>
