<app-navbar></app-navbar>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
</head>
<section id="ingenierias" class="ex1">
  <div class="jumbotron text-center">
    <h1>Bienvenido</h1>
    <li>Gestion de turnos para los profesores</li>
    
    <br>
    <div class="dropdown" style="position: absolute; top: 38%; left: 45%;">
      <button type="button" class="btn btn-primary" routerLink="/user/gestionarMultimedia"><span class="fa fa-gamepad"></span>
        Lista de turnos
      </button>
    </div>
    <br>
    
    <br>

  </div>
