<app-navbar></app-navbar>
<section id="GestionarAcademico">
  <div class="jumbotron text-center">
    <h1>Bienvenido ACADEMICO</h1>
    <div class="dropdown">
    </div>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <th>Turno</th>
        <th>Nombre Completo</th>
        <th>Atendido</th>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{turno.data.Turno}}</td>
          <td>{{turno.data.Nombre}} {{turno.data.Apellido}}</td>
          <button (click)=" DeleteToken(turno.data.email,turno.id)">Atendido</button>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button routerLink="/user/roles">Salir</button>
  </div>
