<app-navbar></app-navbar>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
</head>
<section id="ProfesoresSistemas" class="ex1">
  <div class="jumbotron text-center">
    <h1>Bienvenido</h1>
    <p>A continuacion se muestran las diferentes listas correspondientes a cada profesor</p>

    <div  class="dropdown" style="position: absolute; top: 38%; left: 30%;">
      <button type="button" class="btn btn-primary" routerLink="/user/gestionarSistemasRocio"><span class="fa fa-bolt"></span>
        Rocio Segovia
      </button>
    </div>
    <div  class="dropdown" style="position: absolute; top: 38%; left: 45%;">
      <button type="button" class="btn btn-primary" routerLink="/user/gestionarSistemasJurado"><span class="fa fa-bolt"></span>
        Jose Jurado
      </button>
    </div>
    <div  class="dropdown" style="position: absolute; top: 38%; left: 60%;">
      <button type="button" class="btn btn-primary" routerLink="/user/gestionarSistemas"><span class="fa fa-bolt"></span>
        Profesor3
      </button>
    </div>
    
    <div class="dropdown">
    </div>
  </div>

